html {
		--pos: 0;
}

.image-container {
	background-color: white;
	height: 500px;
}

.img-circle {
	position: relative;
	margin-top: 170px;
	max-width: 200px;
}

.img-circle-1 {
	animation: circle-1 2s linear infinite;
	z-index: 1;
}

@keyframes circle-1 {
	from{
		transform: rotate(0deg) translateX(200px) rotate(0deg);
	}
	to {
		transform: rotate(360deg) translateX(200px) rotate(-360deg);
	}
}

.img-circle-2 {
	animation: circle-2 2s linear infinite;
	z-index: 2;
}

@keyframes circle-2 {
	from{
		transform: rotate(0deg) translateX(200px) rotate(0deg);
	}
	to {
		transform: rotate(360deg) translateX(200px) rotate(-360deg);
	}
}